@using System.Text.Json
@using shared.Constants
@using shared.Models
@{
    var themeCookie = Context.Request.Cookies["daiminhTheme"];
    var theme = string.IsNullOrEmpty(themeCookie) ? "light" : themeCookie;
    var isDark = theme == "dark";
}

<!DOCTYPE html>
<html lang="vi" data-bs-theme="@(isDark ? "dark" : null)" data-bs-theme-primary="blue">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>@ViewData["Title"]</title>
    <partial name="__LibStyles" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div class="page">
        <partial name="Components/Layout/_Sidebar" />

        <div class="page-wrapper">
            <partial name="Components/Layout/_Header" />

            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">@ViewData["PageTitle"]</h2>
                        </div>

                        <div class="col-auto ms-auto d-print-none">
                            @RenderSection("PageActions", required: false)
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-body">
                <div class="container-xl">
                    @RenderBody()
                </div>
            </div>

            <partial name="Components/Crud/_DeleteModal" />

            <partial name="Components/Layout/_Footer" />
        </div>
    </div>

    <!-- Toast notifications -->
    @{
        var toastJson = TempData[TempDataConstants.ToastMessage] as string;
        var toastData = !string.IsNullOrEmpty(toastJson)
        ? JsonSerializer.Deserialize<ToastData>(toastJson)
        : null;
    }
    @if (toastData is not null
    && !string.IsNullOrEmpty(toastData.Title)
    && !string.IsNullOrEmpty(toastData.Message))
    {
        <partial name="Components/Layout/_Toast" model="toastData" />
    }

    <partial name="Components/Media/_Media.Modal" />

    <partial name="__LibScripts" />

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>