@model List<web.Areas.Admin.Models.Contact.ContactViewModel>

<div class="page-body">
    <div class="container">
        <div class="card">
            <div class="card-body p-0">
                @if (Model.Any())
                {
                    <table id="table" class="table table-vcenter card-table">
                        <thead>
                        <tr>
                            <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model[0].Name)</th>
                            <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model[0].Email)</th>
                            <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model[0].Phone)</th>
                            <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model[0].Status)</th>
                            <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model[0].CreatedAt)</th>
                            <th scope="col" class="w-1" data-orderable="false">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-muted">@item.Name</td>
                                <td class="text-muted">@item.Email</td>
                                <td class="text-muted">@item.Phone</td>
                                <td>
                                    <span class="badge bg-blue-lt">@item.Status</span>
                                </td>
                                <td class="text-muted">
                                    @(item.CreatedAt?.ToString("dddd, dd MMMM yyyy", new CultureInfo("vi-VN")) ?? "N/A")
                                </td>
                                <td>
                                    <div class="btn-list flex-nowrap">
                                        <button class="btn btn-icon btn-sm command-modal-edit" asp-area="Admin"
                                                asp-controller="Contact" asp-action="Edit"
                                                asp-route-id="@item!.Id"
                                                data-bs-toggle="modal" data-bs-target="#edit-contact--modal">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-edit" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path
                                                    d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                                <path
                                                    d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z">
                                                </path>
                                                <path d="M16 5l3 3"></path>
                                            </svg>
                                        </button>

                                        <button class="btn btn-icon btn-sm command-modal-detail" asp-area="Admin"
                                                asp-controller="Contact" asp-action="Details"
                                                asp-route-id="@item!.Id"
                                                data-bs-toggle="modal" data-bs-target="#detail-contact--modal">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-info-circle" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 9v4m0 4v.01"></path>
                                                <path
                                                    d="M12 4a8 8 0 1 0 0 16a8 8 0 0 0 0 -16z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <partial name="Components/Empty"/>
                }
            </div>
        </div>
    </div>
</div>
