@model List<(string Text, string Url, string Icon)>

<div class="page-pretitle">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb align-items-center" aria-label="breadcrumbs">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0"/>
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                    </svg>
                </a>
            </li>
            @for (var i = 0; i < Model.Count; i++)
            {
                if (i == Model.Count - 1)
                {
                    <li class="breadcrumb-item active" aria-current="page">
                        @if (!string.IsNullOrEmpty(Model[i].Icon))
                        {
                            @Model[i].Icon
                        }
                        @Model[i].Text
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@Model[i].Url">
                            @if (!string.IsNullOrEmpty(Model[i].Icon))
                            {
                                @Model[i].Icon
                            }
                            @Model[i].Text
                        </a>
                    </li>
                }
            }
        </ol>
    </nav>
</div>