@using web.Areas.Client.ViewModels
@model PageDetailViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["Keywords"] = Model.MetaKeywords;
    ViewData[TempDataConstants.Breadcrumbs] = new List<(string Text, string Url)> {
new(Model.Title, "")
};

    if (!string.IsNullOrEmpty(Model.SchemaMarkup))
    {
        <script type="application/ld+json">
                            @Html.Raw(Model.SchemaMarkup)
                        </script>
    }
    if (!string.IsNullOrEmpty(Model.BreadcrumbJson))
    {
        <script type="application/ld+json">
                            @Html.Raw(Model.BreadcrumbJson)
                        </script>
    }
}

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-column">
            <!-- Tiêu đề trang -->
            <h1 class="card-title">@Model.Title</h1>

            <!-- Ngày xuất bản -->
            @if (Model.PublishedAt.HasValue)
            {
                <div class="text-muted">
                    <i class="ti ti-calendar me-1"></i>Xuất bản ngày: @Model.PublishedAt
                </div>
            }

            <!-- Đường phân cách -->
            <div class="hr-text"></div>

            <!-- Nội dung bài viết -->
            <div class="markdown">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>